<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337660615512-aq2ujo7v2khf0jh7do971l3t3321cfp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337660615512-aq2ujo7v2khf0jh7do971l3t3321cfp4</string>
	<key>API_KEY</key>
	<string>AIzaSyAugTau6X_TZhsSrj7cuZDqOaXzmHDQXMA</string>
	<key>GCM_SENDER_ID</key>
	<string>337660615512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spiderhouse.mental-health</string>
	<key>PROJECT_ID</key>
	<string>mental-health-awareness-cf12e</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-awareness-cf12e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337660615512:ios:a26697bcfd40937ae8a32d</string>
</dict>
</plist>